
<%= simple_form_for(@enrolment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="row justify-content-md-center">
    <div class="col-md-4 ">
      <fieldset class="border p-2">
        <legend  class="float-none w-auto">Enrolment</legend>
        <div class = "form-group">
        <% binding.pry %>
          <%= f.input :student%>
          <%= f.input :first_name, label: 'First Name' %>
          <%= f.input :last_name, label: 'Last Name' %>
          <%= f.input :modile, label: 'Mobile Number' %>

        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>  
      </fieldset>
    </div>
  </div>
<% end %>


          <%# <% f.collection_check_boxes :teaching_ids, Teaching.all, :id, :name %> 