
<%= form_for(@enrolment) do |f| %>
  <div class="row justify-content-md-center">
    <div class="col-md-4 ">
      <fieldset class="border p-2">
        <legend  class="float-none w-auto">Enrolment</legend>
        
        <%# Student Input %>
        <%= f.fields_for :user do |u| %>
          <div class = "form-group  pb-2">
            <%= u.label :first_name %>
            <%= u.text_field :first_name,  class: "form-control" %>
          </div>
          <div class = "form-group  pb-2">
            <%= u.label :last_name %>
            <%= u.text_field :last_name,  class: "form-control" %>
          </div>
          <div class = "form-group  pb-2">
            <%= u.label :mobile %>
            <%= u.text_field :mobile,  class: "form-control" %>
          </div>
        <% end %> 

        <%# Enrolment Input %>
        <div class = "form-group pb-2">
          <%= f.label :student_id %>
          <%= f.text_field :student_id, class: "form-control" %>
        </div>
        <div class = "form-group  pb-2">
          <%= f.select :teaching_id, Teaching.all.map { |teaching| ["#{teaching.subject_info} ", teaching.id] } %>	
        </div>
        <div class="form-actions text-center">
          <%= f.submit "Enrol", class: "btn btn-primary" %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
