<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @enrolment.student_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @enrolment.teaching.subject.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @enrolment.teaching.teacher.full_name %>
</p>

<%= link_to 'Edit', edit_enrolment_path(@enrolment) %> |
<%= link_to 'Back', enrolments_path %>
<p id="notice"><%= notice %></p>

<h1>Enrolments</h1>
  <div class="container">
    <table class="table table-sm table-striped table-bordered table-hover">
      <thead>
        <tr class="d-flex">
          <th class="col-3">Student</th>
          <th class="col-3">Subject</th>
          <th class="col-3">Teacher</th>
          <th class="col-3"></th>
        </tr>
      </thead>

      <tbody>
        <% @enrolments.each do |enrolment| %>
          <tr class="d-flex">
            <td class="col-3"><%= enrolment.student_id %></td>
            <td class="col-3"><%= enrolment.teaching.subject.name %></td>
            <td class="col-3"><%= enrolment.teaching.teacher.full_name %></td>
            <td class="col-3">
                <%= link_to 'Show', enrolment, class: 'btn btn-primary' %>
                <%= link_to 'Edit', edit_enrolment_path(enrolment),  class: 'btn btn-info' %>
                <%= link_to 'Destroy', enrolment, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<br>

<%= link_to 'New Enrolment', new_enrolment_path %>
