<p id="notice"><%= notice %></p>

<div class="row justify-content-md-center">
  <div class="col-md-4 ">
    <fieldset class="border p-2">
      <legend  class="float-none w-auto">Your Information</legend>

      <div class = "form-group  pb-2">
        <strong>First name:</strong>
      <%= @student.first_name %>
      </div>

      <div class = "form-group  pb-2">
        <strong>Last name:</strong>
      <%= @student.last_name %>
      </div>

      <div class = "form-group  pb-2">
        <strong>Mobile:</strong>
      <%= @student.mobile %>
      </div>

      <div class = "form-group  pb-2 text-center">
        <%= link_to 'Edit', edit_student_path(@student), class: "btn btn-primary text-center" %> |
        <%= link_to 'Back', students_path, class: "btn btn-primary text-center" %>
      </div>
    </fieldset>
  </div>
</div>