
<%= form_for @subject, :remote => true do |f| %>
  <div class="container">
    <fieldset class="border p-2">
      <legend  class="float-none w-auto">Add Subject</legend>
      <table class="table table-sm table-striped table-bordered table-hover">
        <div class="row justify-content-md-center">
          <div class="col-md-4 ">
            <tbody>
                <tr class="d-flex">
                  <td class="col-3"><%= f.label "Subject Name" %></td>
                  <td class="col-9"><%= f.text_field :name, required: true  %></td>
                </tr>
                <%= f.fields_for :teachings do |teaching| %>
                  <%# <%= t.hidden_field  %>
                  <%= teaching.fields_for :teachers do |teacher| %>
                    <tr class="d-flex">
                      <td class="col-3"><%= teacher.label "Teacher First Name" %></td>
                      <td class="col-3"><%= teacher.text_field :first_name, required: true  %></td>
                      <td class="col-3"><%= teacher.label "Teacher Last Name" %></td>
                      <td class="col-3"><%= teacher.text_field :last_name, required: true  %></td>
                    </tr>
                  <% end %>
                <% end %>
                <tr class="d-flex">
                  <td class="col-12 text-center"><%= f.submit "Add", class: "btn btn-primary" %></td>
                </tr>
            </tbody>
          </div>
        </div>
      </table>
    </fieldset>
  </div>
<% end %>
