<p id="notice"><%= notice %></p>

<h1>Subjects</h1>



<%# <div class="row justify-content-md-center" > %>
<div class="container">
<div class="row mb-3">
  <% @subjects.each do |subject| %>
    <div class= "col-md-4 d-flex align-items-stretch pb-3">
      <div class="card ">
        <div class="card-body">
          <h3 class="card_title"><%= subject.name %></h3>
          <p class="card-subtitle ">Teachers</p>
            <% subject.teachings.each do |teaching| %>
              <p class="card-text text-muted"><%= teaching.teacher.first_name%> <%=teaching.teacher.last_name %> </p>
            <% end %>
            <br/>
          <p class="card-subtitle">Description</p>
          <p class="card-text text-muted"><%= subject.description.truncate(80) %></p>
          <p><%= link_to 'Show', subject %></p>
          <p><%= link_to 'Edit', edit_subject_path(subject) %></p>
          <p><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>



<br>

<%= link_to 'New Subject', new_subject_path %>
