<p id="notice"><%= notice %></p>

<h3 class="text-center pt-3 pd-3">Subjects</h3>



<%# <div class="row justify-content-md-center" > %>
<div class="container pt-3">
  <div class="row mb-3">
    <% @subjects.each do |subject| %>
      <div class= "col-md-4 d-flex align-items-stretch pb-3">
        <div class="card ">
            <%= link_to subject, class: "text-decoration-none" do %>
              <%= image_tag subject.image.url, class: "w-100"  if subject.image? %>
                <div class="card-body">
                    <h3 class="card_title"><%= subject.name %></h3>
                    <p class="card-subtitle ">Teachers</p>
                    <% subject.teachers.each do |teacher| %>
                      <p class="card-text text-muted small"><%= teacher.full_name %> </p>
                    <% end %>
                    <p class="card-subtitle">Description</p>
                    <p class="card-text text-muted small"><%= subject.description.truncate(80) %></p>
                    <% if is_admin? %>
                      <div class="text-center">
                        <p><%= link_to 'Destroy', subject, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></p>
                      </div>
                    <% end %>
                </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container pagination justify-content-center" >
  <%= paginate @subjects %>
</div>
