<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row justify-content-md-center mb-3">
    <div class= "col-md-4 d-flex align-items-stretch pb-3">
      <div class="card ">
        <%= image_tag @subject.name, class: "w-100" %>
        <div class="card-body">
            <h3 class="card_title"><%= @subject.name %></h3>
            <p class="card-subtitle ">Teachers</p>
            <% @subject.teachers.each do |teacher| %>
              <p class="card-text text-muted small"><%= teacher.full_name %> </p>
            <% end %>
            <p class="card-subtitle">Description</p>
            <p class="card-text text-muted small"><%= @subject.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>