<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @teaching.subject.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @teaching.teacher.full_name %>
</p>

<%= link_to 'Edit', edit_teaching_path(@teaching) %> |
<%= link_to 'Back', teachings_path %>
